
/*
    ==== GRID ====
*/

// ширина сетки
$grid-default-s: 960px;
$grid-default: 1025px;
// горизонтальные padding для @media (max-width: $screen-tablet-max){}
$padding-tablet: 15px;

// количество колонок
$grid-columns:         12 !default;
// поля для колонок
$grid-padding:         20px !default;


//== Media queries

// mobile
$screen-mobile:                  640px !default;
$screen-mobile-min:              $screen-mobile !default;

// tablet
$screen-tablet:                  768px !default;
$screen-tablet-min:              $screen-tablet !default;

// laptop
$screen-laptop:                  $grid-default !default;
$screen-laptop-min:              $screen-laptop !default;

// desktop
$screen-desktop:                  1200px !default;
$screen-desktop-min:              $screen-desktop !default;

// минимальные и максимальные значения
$screen-mobile-max:              ($screen-tablet-min - 1) !default;
$screen-tablet-max:              ($screen-laptop-min - 1) !default;
$screen-laptop-max:              ($screen-desktop-min - 1) !default;

//== Container sizes
// .container tablet
$container-tablet:             100% !default;
$container-sm:                 $container-tablet !default;

// .container laptop
$container-desktop:            $grid-default-s !default;
$container-md:                 $container-desktop !default;

// .container desktop
$container-large-desktop:      ((1170px + $grid-padding)) !default;
$container-lg:                 $container-large-desktop !default;


//== Компиляция классов для сетки
// классы колонок .lg для @media (min-width: $screen-desktop) {}
$lg-grid : true;
// классы offset для колонок
$offset-class : false;
// классы push и pull для колонок
$pull_push-class: false;


