@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';
@import '_core/core';
@import "libs/libs";

//sections
@import "sections/header";
@import "sections/footer";
@import "sections/tabs";
@import "sections/slick";
@import "sections/info-area";
@import "sections/collection-gallery";
@import "sections/artists-index";
@import "sections/people-list";
@import "sections/images-gallery";
@import "sections/jquery.fancybox";
@import "sections/artwork-table";
@import "sections/styles-guide";
@import "sections/custom-forms";
//@import "sections/footer";
//pages
@import "pages/home";
@import "pages/collection";
@import "pages/contact-us";

html, body {
  height: 100%;
}

body {
  color: $color-primary;
  min-width: 300px;
  font: 16px/18px $font-primary;
  @include medium-up {
    line-height: 22px;
  }
  @include xlarge-up {
    font-size: 20px;
    line-height: 30px;
  }
  &.no-scroll {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  transition: opacity .7s;
  @include small-up {
    display: flex;
    flex-direction: column;
  }
}

.content {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 80px 5px 50px;
  z-index: 2;
  @include small-up {
    flex: 1 0 auto;
  }
  @include xmedium-up {
    padding-bottom: 20px;
  }
  @include xlarge-up {
    padding-bottom: 60px;
  }
}

.no-dev {
  .content {
    @include medium-up {
      padding-top: 145px;
    }
    @include xlarge-up {
      padding-top: 182px;
      padding-bottom: 53px;
    }
  }
}

.container {
  position: relative;
  @include medium-up {
    width: 1062px;
  }
  @include xlarge-up {
    width: 1590px;
  }
}

.video {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin-bottom: 15px;
  @include small-up {
    height: 300px;
  }
  @include xmedium-up {
    height: 400px;
  }
  @include xlarge-up {
    height: 600px;
  }
  .btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* pagination */
.pagination {
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #e6e9ee;
  overflow: hidden;
  text-align: center;
  @include xlarge-up {
    padding-top: 30px;
  }
  //ul {
  //  overflow: hidden;
  //  margin: 0;
  //  list-style-type: none;
  //  padding: 1px 5px;
  //  li {
  //    display: inline-block;
  //    vertical-align: top;
  //    width: 30px;
  //    line-height: 30px;
  //    padding: 0 !important;
  //    text-align: center;
  //    color: #aab2bd;
  //    @include xlarge-up {
  //      font-size: 18px;
  //      line-height: 45px;
  //      width: 50px;
  //      margin: 0 7px;
  //    }
  //    &:before {
  //      display: none;
  //    }
  //    &.current {
  //      color: #1f2226;
  //      span {
  //        display: block;
  //        line-height: 30px;
  //        border: 1px solid #e6e9ee;
  //        margin: -1px;
  //        @include xlarge-up {
  //          line-height: 45px;
  //          height: 50px;
  //        }
  //      }
  //    }
  //  }
  //  a {
  //    color: #aab2bd;
  //  }
  //}
  .page {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    line-height: 30px;
    padding: 0 !important;
    text-align: center;
    color: #aab2bd;
    @include xlarge-up {
      font-size: 18px;
      line-height: 45px;
      width: 50px;
      margin: 0 7px;
    }
  }
  span {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    line-height: 30px;
    color: #aab2bd;
    @include xlarge-up {
      line-height: 45px;
      height: 50px;
      width: 50px;
    }
  }
  .current {
    color: #1f2226;
    border: 1px solid #e6e9ee;
    margin: 0 7px;
  }
  .extend {
    width: auto;
  }
  .previouspostslink, .nextpostslink {
    position: absolute;
    top: 0;
    padding-top: 8px;
    text-transform: uppercase;
    width: 30px;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    @include xlarge-up {
      width: auto;
      font-size: 18px;
      line-height: 36px;
    }
    &:before {
      background-color: $color-red;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      top: 0;
      transition: width 0.3s;
      width: 10px;
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
  .previouspostslink {
    left: 0;
  }
  .nextpostslink {
    right: 0;
    text-align: right;
    &:before {
      left: auto;
      right: 0;
    }
  }
}

.wp-pagenavi {
  position: relative;
  padding: 0 40px;
  @include xlarge-up {
    padding: 0 80px;
  }
}

/* pagination end */

/* address */
address {
  font-style: normal;
  margin-bottom: 30px;
  @include xmedium-up {
    margin-bottom: 20px;
  }
  span {
    display: block;
  }
}

/* address end */

/* contacts-list */
dl.contacts-list {
  margin-bottom: 30px;
  @include xmedium-up {
    margin-bottom: 20px;
  }
  dt {
    float: left;
    padding-right: 5px;
    color: #656d78;
  }
  dd {
    display: block;
    overflow: hidden;
  }
  a {
    color: #aab2bd;
    transition: color .3s;
    &:hover {
      color: $color-white;
    }
  }
}

/* contacts-list end */

/* map */
#map {
  width: 100%;
  height: 250px;
  @include xmedium-up {
    height: 345px;
  }
  @include xlarge-up {
    height: 540px;
  }
}

/* map end  */

/* search-filter */
.search-filter {
  padding-bottom: 20px;
  position: relative;
  @include xlarge-up {
    padding-bottom: 30px;
  }
  .search {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding: 10px;
    margin-bottom: 20px;
    @include xlarge-up {
      padding: 15px;
      margin-bottom: 43px;
    }
    .inner {
      overflow: hidden;
      margin: 0 auto;
      max-width: 280px;
      @include xmedium-up {
        max-width: 490px;
      }
      @include xlarge-up {
        max-width: 564px;
      }
    }
  }
  .btn-submit {
    width: 24px;
    height: 33px;
    float: left;
    margin-right: 15px;
    @include xmedium-up {
      width: 31px;
      height: 22px;
      margin-top: 7px;
      margin-right: 30px;
    }
    @include xlarge-up {
      margin-top: 10px;
    }
    path {
      fill: #f6bb43;
    }
  }
  .input-holder {
    overflow: hidden;
  }
  .form-control {
    border: none;
    color: #000;
    font-family: $font-ovo;
    padding: 0;
    @include xmedium-up {
      font-size: 20px;
      line-height: 22px;
    }
    @include xlarge-up {
      font-size: 24px;
      line-height: 26px;
      text-align: left;
    }
    &:hover {
      border: none;
    }
    &::-moz-placeholder {
      color: #aab2bd;
    }
    &:-ms-input-placeholder {
      color: #aab2bd;
    }
    &::-webkit-input-placeholder {
      color: #aab2bd;
    }
  }
  .filter-checkboxes {
    @include xmedium-up {
      display: flex;
    }
    @include xlarge-up {
      align-items: center;
      padding-bottom: 18px;
    }
    > label {
      font-family: $font-ovo;
      @include small-up {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
      @include medium-up {
        width: 125px;
        line-height: 22px;
      }
      @include xlarge-up {
        width: auto;
        margin-right: 30px;
      }
    }
    ul {
      margin-bottom: 10px;
      + label {
        @include medium-up {
          text-align: right;
        }
      }
      @include xlarge-up {
        margin-right: 34px;
      }
      li {
        padding: 0;
        margin-bottom: 5px;
        @include small-up {
          display: inline-block;
          vertical-align: middle;
          margin: 0 10px 0 0;
        }
        @include xlarge-up {
          margin-right: 42px;
        }
        &:before {
          display: none;
        }
      }
      label {
        color: #656d78;
        position: relative;
        padding-left: 27px;
        vertical-align: middle;
        line-height: 17px;
        @include xlarge-up {
          font-size: 18px;
          line-height: 22px;
          padding-left: 35px;
          margin-bottom: 7px;
        }
        &.jcf-label-active {
          color: #1f2226;
        }
      }
      .jcf-checkbox {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .filter-selects {
    label {
      vertical-align: middle;
      margin-right: 10px;
      font-family: $font-ovo;
    }
    .select-wrap {
      @include xsmall-up {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        margin-right: 10px;
      }
      @include medium-up {
        width: 288px;
        margin-right: 23px;
      }
    }
  }
}

/* search-filter end */

/* toolbar-sorting */
.toolbar-sorting {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  @include xsmall-up {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  @include xmedium-up {
    margin-bottom: 20px;
  }
  .items-showing {
    margin-bottom: 5px;
    color: #656d78;
    @include medium-up {
      margin-bottom: 0;
    }
    span {
      display: inline-block;
      vertical-align: top;
    }
  }
  .sorting {
    color: #aab2bd;
  }
  .select-wrap {
    display: inline-block;
    vertical-align: middle;
    min-width: 40px;
    margin-bottom: 0;
    @include medium-up {
      margin-bottom: 0;
    }
  }
  .jcf-select {
    border: none;
    padding-right: 20px;
    &:after {
      content: '\f107';
      color: #f6bb43;
      font: 14px/16px "fontello";
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      @include xlarge-up {
        font-size: 16px;
        right: 0;
      }
    }
  }
  .jcf-select-text {
    margin: 0;
    color: $color-black;
    @include xlarge-up {
      font: 20px/36px $font-ovo;
    }
  }
  .jcf-select-opener {
    &:before,
    &:after {
      display: none;
    }
  }
}

/* toolbar-sorting end */

/* text-content */
.text-content {
  transition: max-height 1s;
  overflow: hidden;
  max-height: 210px;
  @include xmedium-up {
    max-height: 200px;
  }
  @include xlarge-up {
    max-height: 350px;
  }
  &.short {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 100px;
      bottom: 0;
      width: 100%;
      background-image: linear-gradient(to top, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
      visibility: visible;
      opacity: 1;
      transition: opacity .5s, visibility .5s;
      @include xlarge-up {
        top: 230px;
      }
    }
  }
  &.full {
    max-height: 2000px;
    &:after {
      visibility: hidden;
      opacity: 0;
    }
  }
  .more {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
  }
}

/* text-content end */

/* share  */
.share {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-bottom: 15px;
  cursor: pointer;
  &:hover {
    ul {
      visibility: visible;
      opacity: 1;
    }
  }
  ul {
    background: $color-white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 120px;
    display: flex;
    justify-content: center;
    margin: 0 !important;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s;
    z-index: 10;
    li {
      margin: 0 !important;
      padding: 0 !important;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      &:before {
        display: none;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        bottom: 10px;
        width: 1px;
        background-color: #e6e9ee;
      }
      &:first-child {
        &:after {
          display: none;
        }
      }
      a {
        margin: 0 !important;
        font-size: 22px !important;
        line-height: 22px !important;
        padding: 13px 15px !important;
      }
    }
    .icon-facebook {
      color: #3b5998;
    }
    .icon-twitter {
      color: #059ff6;
    }
  }
}

/* share end  */

.popup-form {
  background: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 21;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform .3s, opacity .3s, visibility .3s;
  &.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  @include xmedium-up {
    width: 50%;
    right: 0;
    left: auto;
  }
  &:after {
    @include xmedium-up {
      content: '';
      background: rgba(0, 0, 0, 0.2);
      position: fixed;
      left: -100%;
      right: 100%;
      top: 0;
      bottom: 0;
      z-index: 20;
    }
  }
  .inner {
    padding: 50px 20px 20px;
    position: relative;
    height: 100vh;
    overflow-y: auto;
    @include xmedium-up {
      padding: 50px 20px;
    }
    @include xlarge-up {
      padding: 55px 94px 80px;
    }
  }
  .close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
    background: $color-yellow;
    padding: 10px;
    cursor: pointer;
    @include xmedium-up {
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      transition: opacity .3s;
      img {
        width: 15px;
        height: 15px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -8px 0 0 -8px;
      }
      &:hover {
        opacity: .7;
      }
    }
    @include xlarge-up {
      width: 80px;
      height: 80px;
    }
  }
  .note {
    color: #aab2bd;
    font-size: 16px;
    line-height: 24px;
    font-family: $font-mulilight;
    @include xlarge-up {
      margin-bottom: 33px;
    }
  }
  h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0;
    @include xlarge-up {
      margin-bottom: 64px;
    }
  }
  h3 {
    text-align: center;
    @include xlarge-up {
      margin-bottom: 32px;
    }
  }
  label {
    font-family: $font-mulilight;
    vertical-align: middle;
    margin-bottom: 10px;
    @include xmedium-up {
      margin-bottom: 0;
    }
  }
  .jcf-radio {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border: 1px solid #e6e9ee;
    border-radius: 0;
  }
  .jcf-label-active {
    color: $color-black;
  }
  .jcf-radio span {
    border-color: $color-dark-blue;
  }
  .radioboxes-list {
    display: inline-block;
    vertical-align: middle;
    li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 0 0 30px;
      cursor: pointer;
    }
    label {
      @include xlarge-up {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
  .form-block {
    padding-bottom: 20px;
    &.education {
      .row {
        > div {
          @include xmedium-up {
            text-align: right;
          }
        }
      }
    }
    @include xlarge-up {
      padding-bottom: 45px;
    }
  }
  .form-group {
    position: relative;
    @include xlarge-up {
      margin-bottom: 32px;
    }
    .input-holder {
      position: relative;
      &:after {
        background-color: $color-yellow;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        bottom: 0;
        width: 10px;
      }
      &.date {
        .form-control {
          padding-right: 30px;
        }
        img {
          position: absolute;
          right: 0;
          top: 50%;
          width: 16px;
          height: 16px;
          margin-top: -8px;
          z-index: -1;
        }
      }
    }
  }
  .form-control {
    color: #aab2bd;
    border-color: #e6e9ee;
    padding: 0 10px 0 15px;
    @include xlarge-up {
      height: 40px;
      padding-left: 18px;
    }
    &:focus {
      border-color: $color-yellow;
    }
  }
  .form-control::-moz-placeholder {
    color: #aab2bd;
  }
  .form-control:-ms-input-placeholder {
    color: #aab2bd;
  }
  .form-control::-webkit-input-placeholder {
    color: #aab2bd;
  }
  textarea.form-control {
    padding-top: 10px;
    height: 180px;
  }
  .form-buttons {
    text-align: center;
    @include xlarge-up {
      margin-top: -50px;
    }
    .btn {
      margin: 0 12px;
      &:after {
        background: $color-yellow;
      }
      &:hover {
        border-color: $color-yellow;
      }
    }
    .btn.reset {
      min-width: 10px;
      border-color: transparent;
      &:hover {
        border-color: $color-yellow;
      }
    }
  }
  // blue styles
  &.blue {
    .close {
      background: $color-dark-blue;
    }
    .form-control {
      &:focus {
        border-color: $color-dark-blue;
      }
    }
    .form-group {
      .input-holder {
        &:after {
          background-color: $color-dark-blue;
        }
      }
    }
    .btn {
      &:after {
        background: $color-dark-blue;
      }
      &:hover {
        border-color: $color-dark-blue;
      }
      .btn.reset {
        &:hover {
          border-color: $color-dark-blue;
        }
      }
    }
  }
}

.ui-datepicker td span, .ui-datepicker td a {
  text-align: center !important;
}

input[type="checkbox"], input[type="radio"] {
  opacity: 1;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.collection:not(.collection-inner) {
  .collection-wrap {
    position: relative;
  }
  .preloader-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &.preloader {
    .collection-wrap {
      height: 200px;
      overflow: hidden;
    }
    .collection-gallery {
      opacity: 0;
      visibility: hidden;
    }
    .preloader-circle {
      opacity: 1;
      visibility: visible;
      z-index: 0;
    }
    .pagination {
      display: none;
    }
  }
}

.collection-gallery {
  transition: all .3s ease-in-out;
}

.preloader-container {
  position: absolute;
  height: 400px;
  left: 50%;
  transform: translateX(-50%);
  .preloader-circle {
    opacity: 1;
  }
}

.preloader-circle {
  //visibility: hidden;
  opacity: 0;
  //transition: all .3s ease-in-out;
  z-index: -1;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    margin: 0 auto;
    z-index: 290;
    border: 3px solid #1c69d4;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
}

@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}

#__nuxt,
#__layout {
  height: 100%;
}


.content.preloader {
  position: relative;
  //height: 400px;
}

.content {
  position: relative;
  > .preloader-circle {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 230px;
    left: 50%;
    transition: none;
    &.fade-enter-active, &.fade-leave-active {
      transition: opacity .0s;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fancybox-inner {
  position: absolute !important;
}
