.collection-wrap {
  @include xlarge-up {
    padding-bottom: 57px;
  }
  .collection-gallery {
    @include xsmall-up {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
    }
    @include medium-up {
      margin: 0 -15px;
    }
    &.collection-slider {
      @include xsmall-up {
        display: block;
      }
      @include xlarge-up {
        margin: 0 -15px;
      }
      .item {
        margin: 0 10px;
        @include xlarge-up {
          margin: 0 15px;
        }
      }
      figure {
        a {
          height: 300px !important;
        }
      }
      .slick-arrow {
        @include xlarge-up {
          top: 137px;
        }
        &.slick-prev {
          left: -15px;
          @include medium-up {
            left: -40px;
          }
          @include xlarge-up {
            left: -82px;
          }
        }
        &.slick-next {
          right: -15px;
          @include medium-up {
            right: -40px;
          }
          @include xlarge-up {
            right: -82px;
          }
        }
      }
    }
    li {
      padding-left: 0;
      margin-bottom: 20px;
      @include xsmall-up {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        .item {
          margin: 0 10px;
        }
      }
      @include xmedium-up {
        width: 33.33%;
      }
      @include medium-up {
        width: 25%;
        .item {
          margin: 0 15px;
        }
      }
      &:before {
        display: none;
      }
    }
    p {
      margin-bottom: 0;
      @include xmedium-up {
        margin-bottom: 6px;
      }
    }
    figure {
      margin-bottom: 10px;
      @include xmedium-up {
        margin-bottom: 14px;
      }
      @include xlarge-up {
        margin-bottom: 20px;
      }
      a {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 250px;
        display: block;
        @include xmedium-up {
          height: 180px;
        }
        @include medium-up {
          height: 300px;
        }
        @include xlarge-up {
          height: 475px;
        }
      }
    }
    h3 {
      font: 12px/14px $font-primary;
      text-transform: uppercase;
      position: relative;
      padding-top: 8px;
      margin-bottom: 7px;
      display: inline-block;
      vertical-align: top;
      @include xmedium-up {
        font-size: 14px;
        line-height: 16px;
        padding-top: 13px;
        margin-bottom: 13px;
      }
      @include xlarge-up {
        font-size: 18px;
        line-height: 24px;
        padding-top: 15px;
      }
      &:after {
        background-color: #ff3a1a;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        top: 0;
        width: 10px;
        transition: width .3s;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
    h4 {
      font: 16px/19px $font-ovo;
      color: #1f2226;
      @include xmedium-up {
        font-size: 18px;
        line-height: 20px;
      }
      @include xlarge-up {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 6px;
      }
    }
    .date,
    .category {
      color: #aab2bd;
      font: 12px/14px $font-primary;
      display: block;
      margin-bottom: 3px;
      @include xmedium-up {
        font-size: 14px;
        line-height: 16px;
      }
      @include xlarge-up {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

.no-dev {
  .collection-gallery {
    @include xmedium-up {
      overflow: visible;
      white-space: normal;
    }
  }
}